.container {
  height: fit-content;
  background-color: #ffffff;
  display: flex;
}
.item {
  height: 90vh;
  flex: 1.5;
  position: relative;
  display: flex;
  margin-bottom: -300px;
}
.item:last-child {
  height: 90vh;
  flex: 2.5;
  /* padding: 50px; */
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.bgImage {
  object-fit: cover;
}

.card {
  flex: 1;
  padding: 0 20px;
  text-align: start;
}

.title {
  font-style: 18px;
  color: #ffaf5a;
  text-align: start;
}

.text {
  color: #351814;
  text-align: start;
}

.motto {
  color: #351814;
  font-size: 54px;
  margin-bottom: -50px;
}
@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
  }
  .text {
    color: #351814;
  }

  .item:first-child {
    display: none;
  }
  .item {
    flex-direction: column;
  }
  .title {
    font-size: 30px;
  }
  .text {
    font-size: 20px;
  }
}
