html,
body {
  padding: 0;
  margin: 0;
  font-family: "Purple Purse" !important;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
