.container {
  height: calc(100vh - 100px);
  background-color: #ffffff;

  overflow: hidden;
  position: relative;
}

.arrowContainer {
  position: absolute;
  width: 8%;
  height: 15%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}
.arrowImages {
  object-fit: contain;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out;
}

.imgContainer {
  width: 100vw;
  height: 80%;
  position: relative;
}
.featuredImage {
  object-fit: contain;
  border-color: #351814;
}

@media screen and (max-width: 480px) {
  .container {
    height: 50vh;
  }
  .container {
    background-color: #ffffff;
  }
}
